---
layout: page
---

<div class="container">
    {% for post in site.categories.blog %}
  <div class="row">
    <div class="col-md-3">
      <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}" class="index-image"></a>
    </div>
    <div class="col-md-9">
      <h5 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
      {% if post.author %}
      <p class="text-muted">{{ post.date | date: "%Y-%m-%d" }} le <a href="{{ post.author_url }}">{{ post.author }}</a></p>

      {% else %}

      <p class="text-muted">{{ post.date | date: "%Y-%m-%d" }} le <a href="{{ site.baseurl}}/mu-dheidhinn/">Crìstean MacMhìcheil</a></p>

      {% endif %}
      {{ post.excerpt }}
    </div>
  </div>
  <hr/>
  {% endfor %}
