---
layout: page
---

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories[page.category].size > 0 %}
  <p>There is no article in this category.</p>
{% endunless %}

{% for post in site.categories[page.category] reversed %}
{% unless post.categories contains "blog" %}
  <div class="container">
    <div class="row">
      <div class="col-3">
        <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}" class="post-image index-image"></a>
      </div>
      <div class="col-9">
        <h4 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
        <p><strong>{{ post.ceann-latha }}</strong><p>
        <p><strong>{{ post.seoladh }}</strong></p>
        <p>Airson barrachd fhiosrachaidh mun tachartas seo tadhalaibh air:</p>
          {% if post.larach-lin %}
            <a href="{{post.larach-lin}}" target="_blank" rel="noopener"><button type="button" class="btn btn-primary more-info" style="background-color: #007bff !important; border-style: none; width: 30%;"><i class="fas fa-home"></i></button></a>

          {% endif %}
          {% if post.twitter %}
            <a href="{{post.twitter}}" target="_blank" rel="noopener"><button type="button" class="btn btn-primary" style="background-color: #007bff !important; border-style: none; width: 30%;"><i class="fab fa-twitter"></i></button></a>

          {% endif %}
          {% if post.facebook %}
            <a href="{{post.facebook}}" target="_blank" rel="noopener"><button type="button" class="btn btn-primary" style="background-color: #007bff !important; border-style: none; width: 30%;"><i class="fab fa-facebook-f"></i></button></a>
          {% endif %}
      </div>
    </div>
    <hr/>
  </div>
  {% endunless %}
{% endfor %}
