---
layout: page
---

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories[page.category].size > 0 %}
  <p>There is no article in this category.</p>
{% endunless %}

{% for post in site.categoties[page.category] reversed %}
{% unless post.categories contains "blog" %}
  <div class="container">
    <div class="row">
      <div class="col-3">
        <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}" class="post-image index-image"></a>
      </div>
      <div class="col-9">
        <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
        {{ post.excerpt }}
      </div>
    </div>
    <hr/>
  </div>
  {% endunless %}
{% endfor %}
