---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="post">
        <h3 class="post-title">{{ page.title }}</h3>
        <span class="post-date text-muted">
          {{ page.date | date: "%Y-%m-%d" }}
        </span>
        <span class="post-category text-muted"><i class="fa fa-tag"></i>
          {% for category in page.categories %}
            <a class="post-category-link" href="{{ site.baseurl }}/{{ category }}">
              #{{ category }}
            </a>
          {% endfor %}
        </span>
          <img src="{{ page.image }}" class="post-image">

        {{ content }}

        <h4>Cùin</h4>
        <p>{{ page.ceann-latha }}</p>

        <h4>Càit</h4>
        <p>{{ page.seoladh }}</p>

        <p>Airson barrachd fhiosrachaidh mun tachartas seo tadhalaibh air:</p>
          {% if page.larach-lin %}
            <a href="{{page.larach-lin}}" target="_blank" rel="noopener"><button type="button" class="btn btn-primary more-info" style="background-color: #007bff !important; border-style: none; width: 30%;"><i class="fas fa-home"></i></button></a>

          {% endif %}
          {% if page.twitter %}
            <a href="{{page.twitter}}" target="_blank" rel="noopener"><button type="button" class="btn btn-primary" style="background-color: #007bff !important; border-style: none; width: 30%;"><i class="fab fa-twitter"></i></button></a>

          {% endif %}
          {% if page.facebook %}
            <a href="{{page.facebook}}" target="_blank" rel="noopener"><button type="button" class="btn btn-primary" style="background-color: #007bff !important; border-style: none; width: 30%;"><i class="fab fa-facebook-f"></i></button></a>
          {% endif %}

      </div>

      <div class="related">
        {% unless page.categories == null %}
      	  {% capture pageCategory %}{{ page.categories[0] }}{% endcapture %}
      	  {% unless site.categories[pageCategory].size == 1 %}
            <h2>Co-cheangailte</h2>
            <ul class="related-posts">
              {% for post in site.categories[pageCategory] limit:6 %}
                {% unless post.title == page.title %}
                	<li class="related-post">
      	           	<h4>
      		            <a class="related-post" href="{{ site.baseurl }}{{ post.url }}">
      		              {{ post.title }}
      		              <small>{{ post.date | date: "%Y-%m-%d" }}</small>
      		            </a>
      	           	</h4>
      	          </li>
                {% endunless %}
              {% endfor %}
      	    </ul>
      	  {% endunless %}
      	{% endunless %}
      </div>
    </div>
  </div>
</div>
